/* Login.css */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #8ea0bd;
    border: none;
    cursor: pointer;
}

a {
    margin-right: 10px;
}